---js
const eleventyNavigation = {
	key: "Archive",
	order: 2
};
---
<h1>Archive</h1>

<!-- MailerLite signup -->
<div class="ml-embedded" data-form="RF4hsk"></div>


<h2> Recent Posts </h2>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
