---js
const eleventyNavigation = {
	key: "Archive",
	order: 2
};
---

<h1>Archive</h1>

<p>
    <!-- I list this in a compact link here in case the archive list is super long
    and the widget goes off the bottom of the screen. Having the widget at the top
    is a little too annoying to navigate. -->
    Consider <a href={{ '/subscribe/' | url }}>signing up for the mailing list</a>.
    I'll send an email there whenever I have something new to share.
</p>

---

{% set postslist = collections.posts %}
{% include "postslist.njk" %}


---

<!-- Extra gap because the email signup is a little crowded -->
<p></p>
{% include "mailing_list_signup.njk" %}
